<!-- <!DOCTYPE html> -->
<html>
<head>
    <title>NOOR</title>
<style>

    .a{   height: 150px;
        background-color: bisque;
        text-align: center;
        
        
        
        
    }
</style>
</head>
<body>
    
   <h1 class="a">{{name}} is from {{place}}</h1>
   <button onclick="location.href='//www.facebook.com/login.php';">  fb </button>
   <button onclick="location.href='https://www.youtube.com/';"> youtube</button>
   
   <form action="sum">
  <p> enter num1: <input type="number" name="num1" id="num_1" placeholder="num1"></p>
  <p>enter num2: <input type="number" name="num2" id="num_2" placeholder="num2"></p>
  <button type="submit">result</button>


   </form>
  
</html>